{"colors": ["#3a6ea5", "#00ffd2", "#ff5600", "#0066f8", "#ffffff", "#ffffff", "#ffffff", "#ffffff", "#ffffff", "#ffffff", "#ffffff", "#ffffff", "#ffffff", "#ffffff", "#ffffff"], "recent_colors": ["#0066f8", "#ff5600", "#00ffd2"]}
